body {
    padding-top: 30px;
}

section {
    padding: 30px 0;
    margin-bottom: 40px;
    font-family:  monospace;
}

section#home {
    background: #cccccc;
    padding: 20px ;
    margin-top: 10px;
    border-radius: 10px;
}

#home .row {
    align-items: center;
}

#home h1, #home p {
    margin-left: 180px;
    
}

section#about {
    background: #5c5c5c;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

section#education{
    background: #cccccc;
    padding: 20px;
    border-radius: 10px;
}

section#experience{
    background: #5c5c5c;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

section#projects {
    background: #cccccc;
    padding: 20px;
    border-radius: 10px;
}

.finished {
    color: green;
}
.notFinished {
    color: red;
}

section#TechStack  {
    background: #5c5c5c;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff !important;
}

.card-title{
    color: #000000;
    font-size: 20px;
}

.card {
    margin-bottom: 30px;
}

.card-skill {
    color: #5c5c5c;
    font-size: 10;
    background-color: #cccccc;
    border-radius: 20px;
    width: fit-content; 
    height: fit-content;
    padding:5px;
    margin: 5px;
    display:inline-flex;
}


section#TechStack.card-skill{
    color: #5c5c5c !important;
}
.container {
    margin-bottom: 60px;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar .nav-link {
    color: white !important;
    border-radius: 3px;

    background-color: #5c5c5c;
    transition: background-color 0.3s, border-color 0.3s;
}

.navbar .nav-link:hover {
    background-color: black;
    border: 10px;
} 

/* Circular Image */
.img-circle {
    border-radius: 10%;
    width: 150px;  /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    object-fit: cover; /* Ensures the image covers the specified dimensions */
}

.icon-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 4px;
    margin: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.icon-box:hover {
    background-color: #000000;
    fill: #ffffff;
}

.icon-box:hover svg {
    fill: #ffffff;
}
.footer .text-muted {
    color: rgb(0, 0, 0) !important;
}

.footer svg {
    width: 24px;
    height: 24px;
    transition: fill 0.3s;
}